venv/
.venv/
# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Byte-compiled / optimized Python files
__pycache__/
*.py[cod]
# Dta folder 
data/

# IDE-specific files
.vscode/
.idea/

# Logs and databases
*.log
*.sqlite3
# CSV data 
*.CSV
*.csv
/ data
.venv/
venv
venv/
/ venv
venv/
venv
.venv/
venv/



